*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(65, 138, 138);
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 40px;
}
.container .left-container {
  width: calc(75% - 20px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.container .left-container .testimonial-1 {
  width: calc(75% - 20px);
  background-color: rgb(78, 17, 128);
  border-radius: 10px;
  padding: 20px;
  background-image: url(bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0;
}
.container .left-container .testimonial-1 .user-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container .left-container .testimonial-1 .user-wrapper .picture img {
  border-radius: 100%;
  border: solid rgb(155, 94, 155);
}
.container .left-container .testimonial-1 .user-wrapper .user .name {
  color: aliceblue;
}
.container .left-container .testimonial-1 .user-wrapper .user .verified {
  color: plum;
}
.container .left-container .testimonial-1 .title {
  color: aliceblue;
}
.container .left-container .testimonial-1 .more-info {
  color: plum;
}
.container .left-container .testimonial-2 {
  width: calc(25% - 20px);
  background-color: rgb(59, 59, 77);
  border-radius: 10px;
  padding: 20px;
}
.container .left-container .testimonial-2 .user-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container .left-container .testimonial-2 .user-wrapper .picture img {
  border-radius: 100%;
  border: solid rgb(42, 41, 49);
}
.container .left-container .testimonial-2 .user-wrapper .user .name {
  color: aliceblue;
}
.container .left-container .testimonial-2 .user-wrapper .user .verified {
  color: rgb(152, 152, 170);
}
.container .left-container .testimonial-2 .title {
  color: aliceblue;
}
.container .left-container .testimonial-2 .more-info {
  color: rgb(152, 152, 170);
}
.container .left-container .testimonial-3 {
  width: calc(25% - 20px);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
}
.container .left-container .testimonial-3 .user-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container .left-container .testimonial-3 .user-wrapper .picture img {
  border-radius: 100%;
}
.container .left-container .testimonial-3 .user-wrapper .user .name {
  color: rgb(35, 36, 37);
}
.container .left-container .testimonial-3 .user-wrapper .user .verified {
  color: rgb(76, 76, 85);
}
.container .left-container .testimonial-3 .title {
  color: rgb(27, 28, 29);
}
.container .left-container .testimonial-3 .more-info {
  color: rgb(66, 66, 73);
}
.container .left-container .testimonial-4 {
  width: calc(75% - 20px);
  background-color: rgb(26, 24, 27);
  border-radius: 10px;
  padding: 20px;
}
.container .left-container .testimonial-4 .user-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container .left-container .testimonial-4 .user-wrapper .picture img {
  border-radius: 100%;
  border: solid rgb(155, 94, 155);
}
.container .left-container .testimonial-4 .user-wrapper .user .name {
  color: aliceblue;
}
.container .left-container .testimonial-4 .user-wrapper .user .verified {
  color: rgb(113, 112, 131);
}
.container .left-container .testimonial-4 .title {
  color: aliceblue;
}
.container .left-container .testimonial-4 .more-info {
  color: rgb(150, 148, 160);
}
.container .right-container {
  width: 25%;
}
.container .right-container .testimonial-5 {
  width: calc(100% - 20px);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
}
.container .right-container .testimonial-5 .user-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container .right-container .testimonial-5 .user-wrapper .picture img {
  border-radius: 100%;
}
.container .right-container .testimonial-5 .user-wrapper .user .name {
  color: rgb(35, 36, 37);
}
.container .right-container .testimonial-5 .user-wrapper .user .verified {
  color: rgb(76, 76, 85);
}
.container .right-container .testimonial-5 .title {
  color: rgb(27, 28, 29);
}
.container .right-container .testimonial-5 .more-info {
  color: rgb(66, 66, 73);
}/*# sourceMappingURL=style.css.map */